<link rel="stylesheet" href="/css/homefeed.css">



 
    <div class="edit">
 
        <section >
            <div class=fun>
                <p>Posts</p>
                <!-- <p><%=user.name%></p> -->
                <!-- <p><%=user.email%></p> -->
                <form action="/post/user-feed" method="POST">
                    <textarea name="content" cols="30" rows="3"  placeholder="type here.."></textarea>
                    <br>
                    <br>
                    <input type="submit" value="Posts">
                </form>
            </div>


            <div>
                <ul>
                    <% for ( post of Posts) {%>
                        <div class="postprint">
                            <% if(locals.user&&locals.user.id == post.user.id){%> 
                                <!-- this will ensure that post can only be deleted if admin of same post is singed in -->
                            
                                <small>
                                    <a href="/post/destroy/<%=post.id%>"> X</a>
                                </small>

                            <%}%>

                            <ul>
                                <%=post.content %>
                                
                            </ul>
                            <small>
                                <%=post.user.createdAt%>
                                <%=post.user.name%>
                                
                            </small>
                            <div class="post-comments">
                                <% if(locals.user){%>
                                    <form action="/comment/create" method="POST">
                                        <input type="text" name="content" placeholder="type here your comment">
                                        <input type="hidden" name="post" value="<%=post._id%>" >
                                        <!-- this for finding this very post in controller -->
                                        <input type="submit" class="smallcomment" value="Add Comment">


                                    </form>
                                    <small>
                                        <div class="post-comment_list">
                                            <ul>
                                                <%for (comment of post.comments) {%>
                                                    <% if(locals.user&&locals.user.id == post.user.id){%> 
                                                        <!-- this will ensure that post can only be deleted if admin of same post is singed in -->
                                                    
                                                        <small>
                                                            <a href="/comment/destroy/<%=comment.id%>"> X</a>
                                                        </small>
                        
                                                    <%}%>
    
    
                                                    <p>
                                                        <%=comment.content %>
                                                        
                                                    </p>
                                                <%}%>
                                            </ul>
                                        </div>
                                    </small>

                                <%}%>
                                
                            </div>
                        </div>
                    <%}%>
                </ul>
            </div>


        </section>

        <section id="user-friends">
            <h4> Friends</h4>
            <% for(u of all_users) {%>
                <p>
                    <a href="/user/about/<%=u.id%>"><%=u.name%></a>
                </p>
            <%}%>
        </section>

    </div>