<html>
    <head>
        
        <title>
            <%=title%>

        </title>
        <%-style%>
        
    </head>
   
    <link ref="stylesheet" href="/css/homefeed.css">

    <body>
        <%-include('_header');%>
        <%-body%>
        <%-include('_footer');%>
        <%-script%>
    </body>

</html>