<link rel="stylesheet" href="<%=assetPath('css/about.css')%>">
<div class="edit">

    <% if(user.id==profile_user.id){%>
        <form action="/user/user-update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST" >
            <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
            <input type="file" name="avatar" placeholder="Profile picture">
            <input type="submit" value="Update">

        </form>
        <ul>
            <%=profile_user.name%><br>
            <%=profile_user.email%><br>
            <%=profile_user.phone%><br>
            <%=profile_user.designation%><br>
            <%=profile_user.working_place%>
        </ul>


    <%}else {%>
        <ul>
            <%=profile_user.name%><br>
            <%=profile_user.email%><br>
            <%=profile_user.phone%><br>
            <%=profile_user.designation%><br>
            <%=profile_user.working_place%>
        </ul>
        


    <%}%>
    

    



</div>